body {
    background-color:#FBD35F
;
}

h1, h2, h3, h4, h5, h6 {
    color:#000000;
    text-align: center;
    font-size: xx-large;
    font-family: "Roboto Light";
}

.map_box {
    margin: 0%;
    padding: 0%;
    vertical-align:middle;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranksbox {
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px lightgrey;
    vertical-align:middle;
    position:relative;
    align-items: center;
    justify-content: center;
}

.pretty_box {
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px lightgrey;
    vertical-align:middle;
    position:relative;
    align-items: center;
    justify-content: center;
}

.row1back {
    background-color:#ffffff;
    vertical-align:middle;
    position:relative;
    padding: 2% 0
}

.row2back {
    background-color:#FBD35F;
    vertical-align:middle;
    position:relative;
    padding-top: 5%;
    padding-bottom: 5%;
}
.row3back {
    background-color:#ffffff;
    vertical-align:middle;
    position:relative;
    padding: 5% 0;
    padding-top: 5%;
    padding-bottom: 5%;
}
.row4back {

    vertical-align:middle;
    position:relative;
    padding: 5% 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.lastrow {
    background-color:#ffffff;
    vertical-align:middle;
    position:relative;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #000000
}

.slider {
    margin: 0%;
    background: $primary;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
}