body {
    background-color:#ffffff
;
}

h1, h2, h3, h4, h5, h6 {
    color:#FFFFFF;
    text-align: center;
    font-size: xx-large;
}

.map_box {
    margin: 0%;
    padding: 0%;
    vertical-align:middle;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranksbox {
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10%;
}

.pretty_box {
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px lightgrey;
    vertical-align:middle;
    position:relative;
    align-items: center;
    justify-content: center;
}
.row1back {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
    position:relative;
    padding: 2% 0
}

.row2back {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
    position:relative;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}
.row3back {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
    position:relative;
    padding: 5% 0;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}
.row4back {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
    position:relative;
    padding: 5% 0;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}

.lastrow {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
    position:relative;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff
}

.slider {
    margin: 0%;
    background: $primary;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
}