body {
    background-color:#DEEDCF
;
}

.map_box {
    background-color: #bfe1b0;
    margin: 0%;
    padding: 0%;
    vertical-align:middle;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranksbox {
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10%;
}

.pretty_box {
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px lightgrey;
    vertical-align:middle;
    position:relative
}
.row1back {
    background-color: #bfe1b0;
    vertical-align:middle;
    position:relative;
    padding: 2% 0
}
.row2back {
    background-color: #99d492;
    vertical-align:middle;
    position:relative;
    padding: 5% 0
}
.row3back {
    background-color: #74c67a;
    vertical-align:middle;
    position:relative;
    padding: 5% 0
}
.row4back {
    background-color: #56b870;
    vertical-align:middle;
    position:relative;
    padding: 5% 0
}

.slider {
    margin: 0%;
    background: $primary;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
}